:root {
	--font-nunito: nunito, sans-serif;
	--font-overlock: overlock, helvetica, cursive;

	color-scheme: light dark;
}

html {
	font-size: 14px;

	@media (width >= 500px) {
		font-size: 15px;
	}

	@media (width >= 680px) {
		font-size: 16px;
	}
}

html[data-theme='light'] {
	color-scheme: light;
}

html[data-theme='dark'] {
	color-scheme: dark;
}

html,
body {
	inline-size: 100%;
	block-size: 100%;
	overflow: hidden;
	background-color: var(--c-bg-base-1);
	transition: background-color 0.1s ease-in-out;
}

body {
	font-family:
		-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
		'Helvetica Neue', sans-serif;
}

button {
	cursor: pointer;
}
