@import url('reset.css') layer(reset);
@import url('base.css') layer(base);

body {
	--color: #333;

	color: var(--color);
}

input,
textarea,
button,
select,
a {
	-webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

@media (prefers-color-scheme: dark) {
	body {
		--color: #eee;
	}
}

button {
	&:focus-visible {
		outline: 2px solid var(--indigo-5);
	}
}
