@import url('reset.css') layer(reset);
@import url('base.css') layer(base);
@import url('variables.css');

body {
	--color: oklch(40% 0 0deg);

	color: var(--color);
}

input,
textarea,
button,
select,
a {
	-webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

@media (prefers-color-scheme: dark) {
	body {
		--color: var(--c-fg-base-1);
	}
}

button {
	&:focus-visible {
		outline: 2px solid var(--indigo-5);
	}
}
