@mixin button {
  padding: 0.5rem;
  border: none;
  background-color: #44a;
  color: #fff;

  &:not(:disabled) {
    &:hover {
      cursor: pointer;
      background-color: lighten(#44a, 10%);
    }
    &:active {
      background: none;
    }

    &:focus {
      outline: 0;
    }
  }
}
