@import '_variables.scss';

@mixin button {
  $background-color: $primary-color;

  padding: 0.5rem;
  border: none;
  background-color: $background-color;
  color: #fff;

  &:hover {
    cursor: pointer;
    background-color: lighten($background-color, 10%);
  }
  &:active {
    background: none;
  }

  &:focus {
    outline: 0;
  }
}
